@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.about-div {
  display: inline;
}
#about-banner {
  width: 300px;
  height: 200px;
  float: left;
}

#about-nav {
  font-family: "Mukta", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  float: right;
  margin-top: 60px;
}

.about-li {
  font-size: 25px;
  display: inline;
  padding: 30px;
}
.about-li-a{
  color: black;
  text-decoration: none;
}

.about-li,
.about-li-a:visited {
  color: black;
}

.About {
  display: flex;
  flex-direction: column;
}

.AboutPage {
  display: flex;
  flex-direction: column;
}

.hello-span {
  font-family: "Mukta", sans-serif;
  font-size: 100px;
}
.name {
  font-family: "Mukta", sans-serif;
  font-size: 50px;
}

.About-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact {
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 1000px;
  font-family: "Mukta", sans-serif;
  font-size: 25px;
}
.phone-div,
.email-div {
  display: flex;
  margin: 20px;
}

.phone,
.email {
  width: 40px;
  height: 40px;
  margin: 10px;
}

[data-msg] {
  position: relative;
}
