@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.about-div {
  display: inline;
}
#about-banner {
  width: 300px;
  height: 200px;
  float: left;
}

#about-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  float: right;
  margin-top: 70px;
}

.about-li,
.about-li-a {
  font-size: 25px;
  display: inline;
  margin: 20px;
  text-decoration: none;
}
.about-li,
.about-li-a:visited {
  color: black;
}

.About {
  display: flex;
  flex-direction: column;
}

.AboutPage {
  display: flex;
  flex-direction: column;
}

.hello-span {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 100px;
}
.name {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 50px;
}

.About-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
}
.phone-div,
.email-div {
  display: flex;
  margin: 20px;
}

.phone,
.email {
  width: 40px;
  height: 40px;
  margin: 10px;
}

[data-msg] {
  position: relative;
}

[data-msg]:focus::before,
[data-msg]:hover::before {
  content: attr(data-msg);
  position: absolute;
  width: 100%;
  min-width: 200px;
  padding: 1rem;
  background-color: rgb(174, 174, 174);
  opacity: 0.8;
  left: 50%;
  top: -1rem;
  transform: translate(-50%, -100%);
}
