.ProjectPage {
  display: flex;
  flex-direction: column;
}

.data-picture{
  width: 200px;
  height: 200px;
}

.img{
  width: 200px;
  height: 300px;
  margin: 40px;
  margin-top: 250px;
  filter: drop-shadow(6px 4px 1px #575757);
}

.project-div{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
}

.project{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px;
}

.large{
  position: absolute;
  left: -9999px;
}

.project-link {
  text-decoration: none;
}
.project-link:visited {
  color: black;
}

.project-link:hover {
  color: grey;

}
.project-link:hover .large{
  left: 630px;
  top: 250px;
  
}

.project-h1{
  font-size: 20px;
}

.large-img{
  width: 700px;
  height: 350px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;
}

.projectNum{
  text-decoration: none;
}

.project-1, .project-2, .project-3, .project-4, .project-5{

  margin: 5px;

}

.github, .live{
  margin: 10px;
  width: 50px;
  height: 50px;
}