@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.ProjectPage {
  display: flex;
  flex-direction: column;
}

.data-picture {
  width: 200px;
  height: 200px;
}

.chess-img {
  width: 150px;
  height: 220px;
  margin-top: 250px;
  filter: drop-shadow(6px 4px 1px #575757);
}

.project-div {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 90px;
}

.large {
  position: absolute;
  left: -9999px;
}

.chess-link:hover .large {
  left: 620px;
  top: 210px;
  border: solid black 1px;
}

.large-image {
  width: 700px;
  height: 400px;
}

.project-h1 {
  font-family: "PT Sans Narrow", sans-serif;
}
.projectNum {
  font-size: 25px;
  font-family: "PT Sans Narrow", sans-serif;
}

.large-img {
  width: 700px;
  height: 350px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5 {
  margin: 5px;
  width: 300px;
}

.github,
.live {
  margin: 10px;
  width: 50px;
  height: 50px;
}

[data-msg] {
  position: relative;
}

[data-msg]:focus::before,
[data-msg]:hover::before {
  content: attr(data-msg);
  position: absolute;
  width: 100%;
  min-width: 200px;
  padding: 1rem;
  background-color: rgb(174, 174, 174);
  opacity: 0.8;
  left: 50%;
  top: -1rem;
  transform: translate(-50%, -100%);
  font-family: "PT Sans Narrow", sans-serif;
}
