@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.ProjectPage {
  display: flex;
  flex-direction: column;
}

.github,
.live {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.project-img {
  width: 500px;
  height: 300px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px;
  padding: 20px;
}

.projectComp-div {
  border-left: solid black 1px;
}

.Project-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.project-left {
  font-size: 60px;
}

.p-div {
  margin-top: 100px;
  font-family: "Mukta", sans-serif;
}

.info,
.project-name {
  font-family: "Mukta", sans-serif;
}
.info {
  font-size: 18px;
  width: 700px;
}

.project-name {
  font-size: 35px;
}

.project-ul {
  list-style-type: none;
  text-align: center;
}

.project-ul li:before {
  content: "\2014";

}

.project-ul li{
  margin: 10px;
}

@media only screen and (max-width: 500px){
  .project-img {
    width: 350px;
    height: 200px;
  }
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
  }
  .projectComp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border-left: none
  }
  .p-div{
    display: none;
  }
  .Project-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .project {
    padding: 0px;
  }
  .project-info-div, .project-ul, .name-div{
    width: 400px;
  }
  .project-ul{
    padding: 0px 0px 0px 0px;
  }
}