.resume-img {
  width: 500px;
  height: 400px;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#resume {
  width: 500px;
  height: 440px;
}

#resume-div {
  margin-top: 10px;
}
